{ns hl7-fhir-uv-subscriptions-backport-r4b,
 import #{zen.fhir hl7-fhir-r4b-core},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-timeout" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-timeout/schema,
                       "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-filter-criteria" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-filter-criteria/schema,
                       "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-channel-type" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-channel-type/schema,
                       "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-max-count" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-max-count/schema,
                       "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-payload-content" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-payload-content/schema,
                       "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/capabilitystatement-subscriptiontopic-canonical" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.capabilitystatement-subscriptiontopic-canonical/schema,
                       "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-heartbeat-period" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-heartbeat-period/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :value-sets value-sets,
     :searches searches},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"Bundle" {"http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-subscription-notification-r4" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-subscription-notification-r4/schema,
                               "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-subscription-notification" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-subscription-notification/schema},
                     "Subscription" {"http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-subscription" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-subscription/schema},
                     "Parameters" {"http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/backport-subscription-status-r4" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.backport-subscription-status-r4/schema}}},
 searches {:zen/tags #{zen.fhir/searches},
           :searches {"SubscriptionPayloadTypeSearchParameter" {"http://hl7.org/fhir/uv/subscriptions-backport/SearchParameter/Subscription-payload-type" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.search.Subscription-payload-type/search},
                      "SubscriptionTopicSearchParameter" {"http://hl7.org/fhir/uv/subscriptions-backport/SearchParameter/Subscription-topic" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.search.Subscription-topic/search},
                      "SubscriptionFilterCriteriaSearchParameter" {"http://hl7.org/fhir/uv/subscriptions-backport/SearchParameter/Subscription-filter-criteria" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.search.Subscription-filter-criteria/search},
                      "SubscriptionCustomChannelSearchParameter" {"http://hl7.org/fhir/uv/subscriptions-backport/SearchParameter/Subscription-custom-channel" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.search.Subscription-custom-channel/search}}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://hl7.org/fhir/uv/subscriptions-backport/ValueSet/backport-content-value-set" #zen/quote hl7-fhir-uv-subscriptions-backport-r4b.value-set.backport-content-value-set/value-set}}}
