{ns hl7-fhir-uv-subscriptions-backport-r4b.capabilitystatement-subscriptiontopic-canonical,
 import #{zen.fhir hl7-fhir-r4b-core.canonical},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Extension used to advertise supported SubscriptionTopic canonical URLs in a CapabilityStatement.",
         :zen.fhir/type "canonical",
         :zen.fhir/profileUri "http://hl7.org/fhir/uv/subscriptions-backport/StructureDefinition/capabilitystatement-subscriptiontopic-canonical",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4b-core.canonical/schema}}}
