{ns hl7-fhir-uv-subscriptions-backport-r4b.value-set.backport-content-value-set,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes to represent how much resource content to send in the notification payload.",
            :zen.fhir/version "0.6.30-12",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/uv/subscriptions-backport/CodeSystem/backport-content-code-system",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/uv/subscriptions-backport/ValueSet/backport-content-value-set",
            :version "1.1.0",
            :ftr {:module "hl7-fhir-uv-subscriptions-backport-r4b",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
